{% extends '@App/Template/main.html.twig' %}
{% block content %}
    <ul id="product-list">
        {% for product in products %}
           <li class="product-item">
               <div class="product-name">
                   {{ product }}
               </div>
               <div class="product-price">
                   Price: {{ product.price }}
               </div>
               <div class="product-manufacturer">
                   {{ product.manufacturer }}
               </div>
               <div class="product-details">
                   <a href="{{ path('product_show', {id: product.id }) }}">Show details</a>
               </div>
           </li>
        {% else %}
            No product available.
        {% endfor %}
    </ul>
{% endblock %}