Manufacturers:

<ul id="manufacturers-list">
    {% for manufacturer in manufacturers %}
       <li class="manufacturer-item">
           <a href="{{ path('product_by_manufacturer', {id: manufacturer.id }) }}">{{ manufacturer }}</a>
       </li>
    {% else %}
        No manufactures available.
    {% endfor %}
    <li>
        <a href="{{ path('product')}}">All</a>
    </li>
</ul>
