{% extends '@App/Template/main.html.twig' %}
{% block content %}
    <div class="product-details">
       Product name:
       <div class="product-name">
          {{ product }}
       </div>
       Manufacturer:
       <div class="product-manufacturer">
          <a href="{{ path('product_by_manufacturer', {'id': product.manufacturer.id}) }}">
             {{ product.manufacturer }}
          </a>
       </div>
       Amount:
       <div class="product-amount">
          {{ product.amount }}
       </div>
       Price:
       <div class="product-price">
          {{ product.price }}
       </div>
       <div class="product-description">
          {{ product.description | default('No description.')}}
       </div>
        {{ form(form) }}
    </div>
{% endblock %}