<div>
    My shopping cart (<a href="{{ path('cart_empty') }}">empty the cart</a>)
    <ul>
        {% for i, product in cart %}
            <li>
                <a href="{{ path('product_show', {'id': i}) }}">{{ product['name'] }}</a>
                {% if product['amount'] > 1 %}
                     ({{ product['amount'] }})
                {% endif %}
                <a href="{{ path('cart_empty_by_id', {'id': i}) }}">[delete]</a>
            </li>
        {% else %}
            Your cart is currently empty
        {% endfor %}
    </ul>
</div>
