<html>
<head>
    <title>Shop</title>
    <style>
        #content {
            float: left;
        }
        aside {
            float: right;
        }
    </style>
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <aside>
        {{ render(controller('AppBundle:ShoppingCart:showCart')) }}
        {{ render(controller('AppBundle:Product:listManufacturers')) }}
    </aside>
</body>
</html>